<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="exercise">
    <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
    <p>VueJS is pretty cool - {{your_name}} ({{age}})</p>
    <!-- 2) Output your age, multiplied by 3 -->
    <p>{{ age>18 ? "adulte" : "mineur" }}</p>
    <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
    <p> {{ randomFloat() }} </p>
    <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
    <div>
        <img style="width:100px;height:100px" :src="googleImg">
    </div>
    <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
    <div>
        <input type="text" v-model="your_name">
    </div>

    <!-- 22. Modifying an Event - with Event Modifiers  -->
    <div @mousemove="updateCoordonnee" class="test22">

        x: {{ x }} <br> y: {{ y }}

        <div @mousemove.stop="stopPropa" class="stopPropag"> STOP PROPOGATION EVENT !!! </div>
        <div @click.prevent=""> PREVENT EVENT ! </div>
        <form v-on:submit.prevent> ... </form>
    </div>

    <!--  23. Listening to Keyboard Events  -->
    <div class="test">
        <input @keyup.enter.space="alertMe" type="text" name="" id="">
    </div>
    <!-- 25. Using Two-Way-Binding ( v-model )   -->
    <h4> 25. Using Two-Way-Binding ( v-model )</h4>
    <div>
        <input type="text" v-model="v25"> => {{v25}}
    </div>

    <!--  26. Reacting to Changes with Computed :   -->
    <h4> 26. Reacting to Changes with Computed : </h4>
    <div>
        <button @click="count26++"> count++ </button> {{ count26 }} ==> {{ isMultiplOfFive }}
    </div>

    <!--   h4  -->
    <h4> 27. An Alternative to Computed Properties: Watching for Changes </h4>
    <div>
        <button @click="count27++"> count++ </button> {{ count27 }}
    </div>

    <!--  37. Conditional Rendering with v-if  -->
    <h4> 37. Conditional Rendering with v-if </h4>
    <p> you have {{age}} years old !, so :</p>
    <p class="case01" v-if="(age<18)"> you'are mineur ! </p>
    <p class="case02" v-else> you are <strong> major !! </strong> </p>

    <!--  39. Using an Alternative v-if Syntax : <template> -->
    <h4> 39. Using an Alternative v-if Syntax </h4>
    <template v-if="(age<18)">
        <p> vous étes mineur ! </p>
         <p> donc vous ne pouvez pretendre a ce  <span>poste</span> </p>
         <strong> bon courage gamin !  </strong>
    </template>
    <template v-if="(age>18)">
        <p> vous étes majour ! </p>
         <p> donc vous  pouvez pretendre a ce  <span>poste</span> sans pb !! </p>
         <strong> merci </strong>
    </template>

    <!--  40. Don't Detach it with v-show  -->
    <h4> 40. Don't Detach it with v-show
    </h4>
    <p class="case01" v-show="(age<18)"> you'are mineur ! </p>
    <p class="case01" v-show="(age>18)"> you are <strong> major! </strong> </p>

    <!-- 41. Rendering Lists with v-for  -->
    <h4> 41. Rendering Lists with v-for </h4>
    <div>
        <strong>ingrediants : </strong>
        <ul>
            <li v-for="ingrediant in ingrediants"> {{ingrediant}}</li>
        </ul>
    </div>

    <!--  42. Getting the Current Index  -->
    <h4> 42. Getting the Current Index </h4>

    <ul>
        <li v-for="(ingrediant, i) in ingrediants"> {{ingrediant}} ({{i}}) </li>
    </ul>

    <!--  43. Using an Alternative v-for Syntax  -->
    <h4> 43. Using an Alternative v-for Syntax ( template ) </h4>
    <template v-for="(ingrediant, i) in ingrediants">
        <span> {{ingrediant}} </span> <strong> [ {{i}} ] </strong>
    </template>

    <!--  44. Looping through Objects -->
    <h4> 44. Looping through Objects </h4>
    <ul>
        <li v-for="person in persons"> {{person.name}} has {{person.age}} years </li>
    </ul>

    <ul>
        <li v-for="person in persons">
            <span v-for="(value, key, index) in person"> ({{index}}) > [{{key}} : {{value}} ]  -</span>
        </li>
    </ul>


    <!--  45. Looping through a List of Numbers  -->
    <h4> 45. Looping through a List of Numbers ( boocle sur des nombres ... ) </h4>

    <template v-for="n in 10">
       {{n}} -
    </template>

    <!-- 46. Keeping Track of Elements when using v-for -->
    <h4> 46. Keeping Track of Elements when using v-for </h4>
    <ul>
        <li v-for="person in persons" :key="person.person">
            <span v-for="(value, key, index) in person" :key="value"> ({{index}}) > [{{key}} : {{value}} ]  -</span>
        </li>
    </ul>
    <button @click="persons.push({name: 'new-person', age: '00', function: 'unknown function'})"> add person ! </button>

    <div v-for="(ingrediant, i) in ingrediants" :key="ingrediant">
        <span> {{ingrediant}} </span> <strong> [ {{i}} ] </strong>
    </div>
    <button @click="ingrediants.push('spice-' + new Date().getTime())"> add ingredient </button>
    <button @click="ingrediants[3] = 'fromage'"> changer la valeur de l 'index 3 {{ ingrediants[3] }}</button>
    <hr>
    <button @click="$set(ingrediants, index46, value46) "> change this case </button>
    <input type="text" name="" id="" placeholder="Index" v-model="index46">
    <input type="text" name="" id="" placeholder="value" v-model="value46">

</div>

<script>
    // You may of course also outsource this script code into a separate file (e.g. app.js) and simply import this file here
    vm = new Vue({
        el: '#exercise ',
        data: {
            your_name: "younesC ",
            age: 31,
            googleImg: "https://i.skyrock.net/6106/19836106/pics/564914528.jpg ",
            x: 0,
            y: 0,
            /* 26 */
            v25: " ",
            /* 26 */
            count26: 0,
            /* 27 */
            count27: 0,

            /* 41 */
            ingrediants: ["meat ", "fruit ", "eggs ", "butter ", "sugar "],
            persons: [{
                name: "batman ",
                age: "45 ",
                function: "super Hero "
            }, {
                name: "Mario ",
                age: "42 ",
                function: "Game hero "
            }, {
                name: "Naruto ",
                age: "17 ",
                function: "Mangas hero "
            }, ],

            /*46*/
            index46: 0,
            value46: "",
        },
        methods: {
            randomFloat: function() {
                return Math.random();
            },
            updateCoordonnee: function(event) {
                this.x = event.clientX;
                this.y = event.clientY;
            },
            stopPropa: function(event) {
                event.stopPropagation();
            },
            /* 22 */
            alertMe: function() {
                    alert(" AlertMe !! ")
                }
                /* 22 */
        },
        computed: {
            isMultiplOfFive: function() {
                if (this.count26 % 5 == 0) {
                    return "Yes, it 's a multiple of 5 ! "
                } else {
                    return "It 's not a multiple of 5, No ! "
                }
            }
        },
        watch: {
            count27: function(v) {
                console.log("vous avez saisi : " + v + "!!! ");
                if (v % 5 == 0) {
                    this.count27 /= 5;
                }
            }
        }


    })
</script>

<style>
    .test {
        padding: 10px;
        margin: 10px;
        border: solid 1px #ccc;
    }
    
    .test22 {
        background-color: yellow;
    }
    
    .test22 .stopPropag {
        border: solid 2px red;
        padding: 10px;
        margin: 10px;
    }
</style>