<!DOCTYPE html>
<html>

<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        {{ title }}
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center">YOU</h1>
                <div class="healthbar">
                    <div class="healthbar text-center" :style="[widthBarrePlayer, {backgroundColor: 'green', margin: 0, color: 'white'}] ">
                        {{ lifePlayer }}
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">MONSTER</h1>
                <div class="healthbar">
                    <div class="healthbar text-center" :style="[widthBarreMonster, {backgroundColor: 'green', margin: 0, color: 'white'}] ">
                        {{ lifeMonster }}
                    </div>
                </div>
            </div>
        </section>
        <section class="row controls" v-if="gameOver">
            <div class="small-12 columns">
                <button id="start-game" @click="gameOver = false">START NEW GAME</button>
            </div>
        </section>
        <section class="row controls" v-else>
            <div class="small-12 columns">
                <button id="attack" @click="attackPlayer">ATTACK</button>
                <button id="special-attack" @click="superAttackPlayer">SPECIAL ATTACK</button>
                <button id="heal" @click="healPlayer">HEAL</button>
                <button id="give-up" @click="gameOver = true">GIVE UP</button>
            </div>
        </section>
        <section class="row log">
            <div class="small-12 columns">
                <ul>
                    <li v-for="item in logActions">
                        {{item}}
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <script src="app.js"></script>
</body>

</html>